<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Docker Sinatra Example</title>
</head>
<body>

<p>Docker Sinatra Example - if you can see this then it works :^)</p>
<p>Your IP address is <b><%= request.ip %></b></p>
<p>The time is <b><%= Time.now.to_s %></b></p>
</body>
</html>

